html, body{
	padding: 0;
}

input{
	-webkit-appearance: none;
	border-radius: 0;
}

.question__input{
	border: solid 1px #DCB0C8;
	width: 100%;
	padding: 10px;
	margin-bottom: 5px; 
}

.question__send{
	width: 100%;
	background: #A285B3;
	color: #fff;
	padding: 10px;
	border: 0;
}

.preguntas{
	margin-top: 1em;
}

.pregunta{
	width: 100%;
	background: #DCB0C8;
	color: #fff;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	margin-bottom: 2.5em;
	flex-wrap: wrap;
	padding: 15px;
}

.pregunta__image{
	width: 30%;
}

.pregunta__image img{
	border-radius: 50%;
	width: 80px;
	margin-top: -80px;
	margin-left: -20px;
}

.pregunta__content{
	width: 70%;
	text-align: left;
}

.pregunta__title{
	font-family: 'Barlow', sans-serif;
	font-size: 18px;

}

.pregunta__location{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

.pregunta__location__name{
	width: 80%;
	text-align: left;
	font-size: 12px;
	line-height: 15px;

}



.pregunta__likes{
	width: 20%;
	font-size: 12px;
}

.morado{
	background: #A285B3;
	height: auto;
}

.morado .pregunta__image{
	margin-right: -20px;
}

.morado .pregunta__image img{
	margin-top: -30px;
}


.respuesta{
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-align: left;
	margin-top: 10px;

}

.read__more{
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	font-size: 14px;
}


/*ESTILOS PARA PAGINA DE PREGUNTA*/
.question__author, .question__location{
	margin-bottom: 7px;
	color: #585858;
}

.pregunta__main{
	margin-top: 1em;
}

.pregunta__main h1:nth-child(1){
	color:#A285B3;
}

/*
********* BOTONES ***********
*/

.botones__registro{
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.btn__gaby{
	width: 100%;
	display: block;
	text-align: center;
	padding: 15px;
	margin: 0.5em 0 ;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	text-decoration: none;
}

.facebook{
	background:#29487D;
	color:#fff;
}

.gaby__btn{
	background: #DCB0C8;
	color: #fff;
}

.anonimo{
	background: #898989;
	color: #fff;
}

/*
*********** FORMULARIO DE REGISTRO ****
*/

.signup{
	margin-top:1em;
}

.signup input{
	margin:0.7em 0 0.7em 0;
}

.sendQuestion{
	margin-top: 3em;
}

/*
************ MOBILE *********
*/

@media screen and (max-width: 640px){
	h1{
		font-size: 18px;
	}

	h2{
		font-size: 14px;
	}

	h3{
		font-size: 13px
	}

	h4{
		font-size:12px;
	}

	h5{
		font-size: 11px;
	}
	
	h6{
		font-size: 10px;
	}

	p{
		font-size: 12px;
	}

}

/*
************ DESKTOP *********
*/

@media screen and (min-width: 1024px ){
	input,.sendQuestion button{
		font-size: 17px;
	}
}
